# GitLab CI

# Data profil lokal dan config rahasia (jangan di-upload agar aman)
api/data/
api/config.php

# Log files
*.log

# Mac OS
.DS_Store

# Node modules / Vendor (jika ada di masa depan)
node_modules/
vendor/

#Notes
admin_notes.txt

# Local Development Scripts
router.php
