# GitLab CI

# Data profil lokal (jangan di-upload agar aman)
api/data/

# Log files
*.log

# Mac OS
.DS_Store

# Node modules / Vendor (jika ada di masa depan)
node_modules/
vendor/

#Notes
admin_notes.txt
